extends layout

block content
  script(type="text/javascript" src="/javascripts/qrpolling.js")
       
  .container.one
     .header
        .header-title
          h2 Please Sign In
  .container.two(height='500px')
     .panelqr
       .panel-header
          center
            h3 QR Code Login
       .panel-body
          center
            img(src='data:image/png;base64,'+qrCode alt='qrcode')
                      
  form(method='POST' action='/userlogin/pwdcheck')
      .panellogin
        .panel-header
          center
            h3 Username and Password Login
        |       
        .panel-body
          .login-form
            .control-box
              span Login:
              |             
              input(type='username' id='username' placeholder='username' name='username')
               |           
            .control-box
              span Password:
              |             
              input(type='password' id='password' placeholder='password' name='password')
        |       
        .panel-footer
          center
            i.fa.fa-sign-in(aria-hidden='true')
            |           
            button.btn.btn-primary(type='submit') Login
