  .container.two(height='500px')
     .panelqr
       .panel-header
          center
            h3 QR Code Login
       .panel-body
          center
            img(src='data:image/png;base64,'+qrCode alt='qrcode')
